<!DOCTYPE html>
<html>
<head>
  <title>Rock Paper Scissors Lizard Spock</title>
  <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
  <header>
    <h1>Rock Paper Scissors Lizard Spock</h1>
    <h2 class="intro">Choose your weapon</h2>
  </header>

  <section class="choices">
      <img src="./images/rock.png" data-pick="rock">
      <img src="./images/paper.png" data-pick="paper">
      <img src="./images/scissors.png" data-pick="scissors">
      <img src="./images/lizard.png" data-pick="lizard">
      <img src="./images/spock.png" data-pick="spock">
  </section>

  <ol id="results">
  </ol>

<script src="./javascript/jquery-2.1.1.min.js"></script>
<script src="./javascript/game.js"></script>
<script src="./javascript/player.js"></script>
<script src="./javascript/interface.js"></script>

</body>
</html>